


app-root {
    overflow-x: hidden;
    background-color: black;
    height: 100%;
    display: flex; 
    flex-direction: column; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
