<div class="page  test">
    <h1 class="header ">Forum</h1>
    <div class=" row left ">
        <div class="col shrink ">
            <div class="card">
                <div class="card-body row ">
                    <h4 class="card-title bottom text-center w-100">Have something to say?</h4>
                    <p class="center">create a post and start a discussion</p>
                    <div class="col">
                        <div class="row center ">
                            <button class="btn btn-color ">Create a New Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col offset-md-1">
            <div class="row l-aliign ">
                <div class="col top g-0">
                    <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                        placeholder="Select a City" />
                </div>
                <div class="col g-0 top">
                    <p-iconfield>
                        <p-inputicon class="p-inputicon" styleClass="pi pi-search" />
                        <input class="input" type="text" pInputText placeholder="Search" />
                    </p-iconfield>
                </div>
            </div>
            <div class="row right">
            
                <div class="topic col-xl-8 ">
                        <p-card header="Simple Card">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur
                                error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis,
                                culpa ratione quam perferendis esse, cupiditate neque
                                quas!
                            </p>
                        </p-card>
                </div>
           

            </div>
        </div>
    </div>