.card {
    background-color: rgba(59, 59, 59, 0.603);
    color: white;
    width: 100%;
    padding: 10px
}

.topic{
    background-color: rgba(59, 59, 59, 0.603);
    color: white;
    padding: 10px
}

.right-space{
    justify-content: right;
    display: flex;
}
.pointer{
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 50px;
}
.absolute{
    position: absolute;
}

.shrink {
    max-width: 500px;
}

.approve{
    padding-bottom: 8px;
    color: green !important;
    font-size: 25px;
    position: relative;
}

.comment{
    color: green !important;
    font-size: 25px;
    position: relative;
    padding-top: 5px;
}

.comment-row{
    padding: 20px;
}

.approve-row{
display: flex;
align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.back {
    color: white;
}

.l-aliign {

    justify-content: space-between;

}

.wrap {
    display: flex;
flex-wrap:wrap-reverse;
}

.auto {
    width: auto;

}

.top {
    padding-bottom: 80px;
}

.tpsd-right {
    padding-right: 10px;
}

.end {
display: flex;
justify-content: end;
}

.sub_div {
    position: absolute;
    bottom: 10px;
    /* width: 100%; */
    /* overflow-x: hidden; */
}


.page {
    background-color: black;
    flex: 1;
    height: 100vh;
}

.input {
    color: rgba(204, 202, 202, 0.529);;
    padding: 10px 10px 10px 30px;
    border: 2px solid;
    font-size: larger;
    width: 290px;
    background-color: black;
    border-color: rgba(204, 202, 202, 0.529);
    border-radius: 10px;
}

.p-inputicon {
    padding-left: 5px;
    top: 36%;
    color: rgba(204, 202, 202, 0.529);
}

.p-select {
    background-color: black;
    color: rgba(204, 202, 202, 0.529);
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(204, 202, 202, 0.529);
    width: 300px;
    padding: 10px;

}
:host ::ng-deep .p-dialog {
    background-color: rgb(91, 91, 91);
    height: 50%;
    width: 50%;
border-radius: 10px;

}

:host ::ng-deep .p-select-list-container {
    padding-left: 10px;
    color: rgba(204, 202, 202, 0.529);
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(204, 202, 202, 0.529);
}

:host ::ng-deep .p-select-label {
    display: flex;
    justify-content: center;

}



.header {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    background-color: rgba(59, 59, 59, 0.603);
}

.btn-color {
    color: white;
    background-color: rgb(136, 91, 195);

    /* min-width: 100%; */
    /* Custom background color */
}

.left {
    margin-left: 50px;
    margin-top: 50px;
}

.right {
    margin-right: 15px;
}

.check {
    background-color: white;
    /* Custom background color */
}

.bottom {
    margin-bottom: 2.5rem;
}

.testing {
    background-color: pink;
}

.pad {
    padding: 25px;
}

.width {
    width: 100%;
    background-color: black;
    color: rgba(242, 242, 242, 0.434);
    border-radius: 5px;
    height: 50px;
}