<div class="page  test">
    <h1 class="header center">Welcome to the App</h1>
    <div class=" row h-100 center ">
        <div class="col-md-6  ">
            <div class="card">
                @if(!isVisible){
              <form [formGroup]="signupForm" (ngSubmit)="onSignIn()" class="card-body row">
    <h1 class="card-title bottom text-center w-100">Login</h1>

    <div class="form-group bottom">
        <input 
            formControlName="username" 
            type="text" 
            class="form-control" 
            id="input1" 
            placeholder="Username">
    </div>

    <div class="form-group w-100">
        <input 
            formControlName="password" 
            type="password" 
            class="form-control" 
            id="input2" 
            placeholder="Password">
    </div>

    <div class="col-5 left">
        <div class="row center">
            <button type="submit" class="btn-color btn" [disabled]="signupForm.invalid" >
                Login
            </button>
        </div>
    </div>

    <div class="col"></div>

    <div class="col-5 right">
        <div class="row center">
            <button type="button" (click)="toggleVisibility()" class="btn btn-color">
               Sign Up
            </button>
        </div>
    </div>
</form>
                }@else {
              <form [formGroup]="signupForm" (ngSubmit)="onSignIn()" class="card-body row">
    <h1 class="card-title bottom text-center w-100">Login</h1>

    <div class="form-group bottom">
        <input 
            formControlName="username" 
            type="text" 
            class="form-control" 
            id="input1" 
            placeholder="Username">
    </div>

    <div class="form-group w-100">
        <input 
            formControlName="password" 
            type="password" 
            class="form-control" 
            id="input2" 
            placeholder="Password">
    </div>

    <div class="col-5 left">
        <div class="row center">
            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-color">
                Login
            </button>
        </div>
    </div>

    <div class="col"></div>

    <div class="col-5 right">
        <div class="row center">
            <button type="button" (click)="toggleVisibility()" class="btn btn-color">
                Create
            </button>
        </div>
    </div>
</form>
                }

            </div>
        </div>
    </div>