.card {
    min-height: 80vh;
    max-width: 1300px;
    background-color: rgba(59, 59, 59, 0.603);
    color: white;
    width: 92%;
}

.page {
    background-color: black;
    flex: 1;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 5vh;
}

.btn-color {
    color: white !important;
    background-color: rgb(136, 91, 195);
}

/* The "Head Shake" animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
}

/* This class applies the animation when active */
.apply-shake {
  animation: shake 0.4s ease-in-out;
}